<h1>View All Emp</h1>
{{msg}}
<table border="1">
{{#each emps}}
<tr>
  <td>{{this.eid}}</td>
  <td>{{this.city}}</td>
  <td>{{this.state}}</td>
 <td>{{#each this.data}}</td>
 <td>{{this.ename}}</td>
 <td>{{this.salary}}</td>
{{/each}}
  <td><a href="delete?id={{this._id}}">DELETE</a></td>
  <td><a href="update?id={{this._id}}">Update</a></td>
{{/each}}
  </tr>
</table>
